<form method="post" action="{{ path('app_backoffice_order_cancel', {'id': commande.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir annuler cette commande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ commande.id) }}">
    <button class="btn btn-sm btn-danger opacity-75 mt-1"><i class="fas fa-ban"></i></button>
</form>
