<div id="order_form" class="" data-step="step">
<button id="order_details">Précédent</button>
{{ form_start(orderForm, {'attr': {'novalidate': 'novalidate'}}) }}
<button type="submit" class="btn">Confirmer</button>
{{ form_end(orderForm) }}
</div>
