{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{% trans %}New User{% endtrans %}
{% endblock %}

{% block content %}
	<h1>{% trans %}Create new user{% endtrans %}</h1>

	{{ include('backoffice/user/_form.html.twig') }}

	<a class="text-light" href="{{ path('backoffice_user_index') }}">
		<i class="fas fa-reply-all"></i>
	</a>
{% endblock %}
