{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	- Ajouter un nouveau produit
{% endblock %}

{% block content %}
	<h1>Ajouter un nouveau produit</h1>

	{{ include('backoffice/product/_form.html.twig') }}

	<a class="text-light" href="{{ path('app_backoffice_product_index') }}">
		<i class="fas fa-reply-all"></i>
	</a>
{% endblock %}
