<form method="post" action="{{ path('app_backoffice_order_cancel', {'id': order.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir annuler cette commande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ order.id) }}">
    <button class="btn btn-danger">Annuler</button>
</form>
