<form method="post" action="{{ path('app_backoffice_order_pay', {'id': order.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) que le paiement est confirmé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('pay' ~ order.id) }}">
    <button class="btn btn-success mt-1">Confirmer le paiement paypal</button>
</form>
