{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Modifier la commande{% endblock %}
{% block content %}
    <h1>Modifier la commande</h1>

    {{ include('backoffice/order/_form.html.twig', {'button_label': 'Valider'}) }}

    {% if order.status != 4 %}
        {{ include('backoffice/order/_cancel_form.html.twig') }}
    {% endif %}

    <a class="text-light" href="{{ path('app_backoffice_order_index') }}"><i class="fas fa-reply-all"></i></a>
{% endblock %}
