{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('css/backoffice.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent()}}
	<script src="{{ asset('js/backofficehome.js') }}"></script>
{% endblock %}

{% block body %}	
	<div class="container">
		{% block content %}{% endblock %}
	</div>

{% endblock %}
